<% provide(:title, 'Cliënten') %>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li><a href="http://localhost:3000/home">Home</a></li>
    <li><a href="http://localhost:3000/agenda">Agenda</a></li>
    <li class="active"><a href="http://localhost:3000/client">Cliënten</a></li>
    <li><a href="http://localhost:3000/therapy">Therapieën</a></li>
    <li><a href="http://localhost:3000/colleague">Collega's</a></li>
  </ul>

  <div class="page-header">
    <ul class="nav nav-tabs" id="clients_tabs">
      <li><a data-toggle="tab" href="#my_clients">Mijn cliënten</a></li>
      <li><a data-toggle="tab" href="#all_clients">Alle cliënten</a></li>
      <li class="active"><a data-toggle="tab" href="#current_client"><%= @client.name %><button style="margin-left: 5px;" type="button" class="close" data-dismiss="alert" onclick="select_last_tab(this); return false;">&times;</button></a></li>
    </ul>

    <div class="tab-content" id="clients_tabs_content">
      <div class="tab-pane" id="my_clients">
        <ul class="nav nav-tabs nav-stacked">
          <% @therapist.clients.each do |client| %>
              <li>
                <a href="javascript:;" onclick="create_tab(<%= client.id %>);">

                  <%= client.name %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane" id="all_clients">
        <ul class="nav nav-tabs nav-stacked">
          <% @clients.each do |client| %>
              <li>
                <a href="javascript:;" onclick="create_tab(<%= client.id %>);">
                  <%= client.name %>
                </a>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane active" id="current_client">
        <div class="span3 pull-left well well-small" style="margin: 0; padding: 5px;">
          <a href="#" class="thumbnail">
            <%= image_tag(@client.photo) %>
          </a>
        </div>

        <div class="span8 pull-right well well-small" style="margin: 0; padding: 5px;">
          <h1><%= @client.name %></h1>
          <h2>23 Jaar</h2>
        </div>

        <div class="clearfix"></div>


        <h1 class="pull-left"><ul>Historie</ul></h1>
        <div class="clearfix"></div>
        <div class="well well-large">
          <table class="table table-striped table-hover">
            <% @dossiers.DossierItem.each do |d| %>
                <tr>
                  <td><%= d.name %></td>
                  <td><%= d.description %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
      </div>

    </div>
  </div>
